body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

header, footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 1rem;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.card {
    background-color: #fdf6e3;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}
    .card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    .card img {
        max-width: 100%;
        height: auto;
        border-radius: 5px 5px 0 0;
        height:250px;
        width:230px;
    }

    .card h2 {
        color: #1e90ff;
        margin: 1rem 0 0.5rem;
    }

    .card p {
        font-size: 1rem;
        color: #000;
    }

    .card .button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        background-color: #1e90ff;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 1rem;
    }

        .card .button:hover {
            background-color: #00bcd4;
        }

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .card-container {
        grid-template-columns: 1fr;
    }

    .card h2 {
        font-size: 1.2rem;
    }

    .card p {
        font-size: 0.9rem;
    }

    header, footer {
        padding: 0.5rem 0;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
